@mixin button-style($bg-color, $text-color, $border-color) {
    border-color: $border-color;
    border: 2px;
    background: $bg-color;
    color: $text-color;
    padding: 8px 12px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 4px;
    transition: background 0.3s;
    font-weight: bold;

    &:hover {
        background: darken($bg-color, 10%);
    }
}