// Colors
$c-primary: #225193;
$c-secondary: #479cd5;
$c-accent: #ffdb00;
$c-orange: rgb(253, 156, 20);
$c-black: #252525;
$c-white: #fff;
$c-white-off: #efefef;

// Typography
$f-roboto: "Roboto", sans-serif;  
$f-montserrat: "Montserrat", sans-serif;  